<h1 class="mt-5 mb-4">Apply for the job </h1>
<form action="/applyJob" method="post" >


    <div class="mb-3">
        <label for="jobid" class="form-label">Job ID</label> 
        <input type="text" class="form-control" id="jobid" name="jobid">
    </div>
    <div class="mb-3">
        <label for="contact" class="form-label">contact</label>
        <input type="text" class="form-control" id="contact" name="contact">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="text" class="form-control" id ="email" name="email" >  
       
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">LinkedIn / GitHub</label>
        <input type="text" class="form-control" id="image" name="image" >
        <!-- <input type="file" name="image" id="image" accept="image/*"> -->
    </div>
    <button type="submit" class="btn btn-success">Apply</button>
</form>